* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue","Noto Sans",sans-serif;
}

html,
body {
  overflow-x: hidden;
  background-color: #2f3437;
  color: #ffffffe6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  padding-top: 57px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

/* Content */

.wrapper {
  flex: 1px;
  padding-top: 54px;
}

footer {
  margin-top: auto;
}

.light {
  background-color: #fff;
  --bgc: hsla(44,6%,50%,.15);

  p,
  a,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    border-color: #000;
  }
}
