:root {
  --white: #fff
  --bg-color: #474c50;
  --head-img-width: 1200px;
  --head-img-height: 30vh;
  --normal-font-size: 16px;
  --text-width: 720px;
  --big-text-width: 900px;
  --centered-top-margin: 40px auto 0 auto;
  --regular: 400;
  --header-footer-width: 1100px;
  --max-size: 100%;
}