.main {
  max-width: 900px;
  min-height: calc(100vh - 54px);
  margin: 0 auto;

  &__background {
    max-width: 1200px;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 24px;
    margin: 40px auto 0 auto;
    display: block;
  }

  &__text {
    max-width: 900px;
    margin: 34px auto 40px auto;
  }

  &__search-input {
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    outline: none;
    border: 1px solid hsla(0, 0%, 100%, .03);
    border-radius: 6px;
    padding: 12px 10px;
    font-size: 18px;
    color: hsla(0, 0%, 100%, .9);
    transition-duration: 400ms;

    &:focus {
      border: 1px solid hsla(0, 0%, 100%, .3);

      &::placeholder {
        font-size: 0;
      }
    }
  }

  &__blogs {
    padding-top: 16px;
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 6vmin;
    gap: 6vmin;
    grid-auto-rows: 1fr;
  }
}