* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Noto Sans",sans-serif;
}

html,
body {
  overflow-x: hidden;
  background-color: #2f3437;
  color: hsla(0,0%,100%,.9);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
